<div class="main-container first-color">
  <div class="split-background second-color"></div>
  <img src="../../../../assets/images/character4.svg" id="svg-drawing" />
  <div class="registration-container">
    <img src="../../../../assets/images/avatar.svg" id="avatar" />
    <h1 id="register-header">
      <strong> Sign Up </strong>
    </h1>
    <div id="form-container">
      <form action="" (ngSubmit)="onRegister(f)" #f="ngForm">
        <div id="left">
          <input
            type="text"
            placeholder="First Name"
            name="firstname"
            ngModel
          />

          <input type="text" placeholder="Last Name" name="lastname" ngModel />

          <input type="text" placeholder="Email" name="email" ngModel />
        </div>
        <div id="right">
          <input type="text" placeholder="Username" name="username" ngModel />

          <input type="text" placeholder="Password" name="password" ngModel />
          <input
            type="text"
            placeholder="Repeat Password"
            name="repeatedPassword"
            ngModel
          />
          <input type="submit" />
          <button type="submit">asd</button>
        </div>
      </form>
    </div>
    <!-- <button id="register-button">Register</button> -->
    <p [routerLink]="['/login']">Already have an account?</p>
  </div>
</div>
