<div class="main-container primary-font primary-text-color">
  <div class="grid-container">
    <main class="first-color">
      <h2 class="secondary-font">Survey App</h2>
      <h1>
        Surveys <br />
        Made Easy!
      </h1>
      <p>
        Making surveys or questionnaires has never been simpler! <br />
        Create customized surveys and questionnaires with just a few clicks!
      </p>
    </main>
    <section class="surveys">
      <span class="divider"></span>
      <strong>
        surveys.
      </strong>
      <span class="divider"></span>
    </section>
    <section class="questionnaires">
      <span class="divider"></span>
      <strong>
        questionnaires.
      </strong>
      <span class="divider"></span>
    </section>
    <section class="footer">Sign up now and give it a shot!</section>
    <header class="">
      <span [routerLink]="['/login']"><strong> LOGIN </strong></span>
      <span [routerLink]="['/register']"><strong>REGISTER</strong></span>
    </header>
    <div class="side-image"></div>
  </div>
</div>
