<div class="main-container first-color">
  <h1 class="primary-text-color secondary-font" [routerLink]="['/home']">
    Survey App
  </h1>
  <!-- <div class="dropdown">
    <svg
      id="profile-icon"
      class="dropdown-toggle"
      width="3em"
      height="3em"
      viewBox="0 0 16 16"
      class="bi bi-person-fill"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
      data-toggle="dropdown"
    >
      <path
        fill-rule="evenodd"
        d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
      />
    </svg>
    <ul class="dropdown-menu second-color primary-font primary-text-color">
      <li class="dropdown-header">User Profile</li>
      <li>Log in</li>
    </ul>
  </div> -->
</div>
