<div class="main-container primary-font main-container-sizing">
  <app-alert
    [message]="error"
    [questionnaire]="deletingQuetionnaire"
    *ngIf="deleting"
    (closeAlert)="onClose()"
  ></app-alert>

  <div class="grid-container">
    <header>
      <h1>MY FORMS</h1>
      <input
        type="text"
        placeholder="Search forms..."
        [(ngModel)]="searchText"
        (change)="searchFilter()"
      />
      <select
        [(ngModel)]="sortingOption"
        (change)="changeSortingOption($event.target.value)"
        id="answers"
        name="answers"
        value="Select Required Answer"
      >
        <option value="created">By Date</option>
        <option value="name">By Name</option>
        <option value="id">By ID</option>
      </select>
      <!-- <div class="input-group">
        <input placeholder="Search" />
        <span class="input-group-append">
          <div class="input-group-text bg-transparent">
            <i class="fa fa-search"></i>
          </div>
        </span>
      </div> -->
    </header>
    <main>
      <app-create-survey
        (questionnaireAdded)="updatedQuestionnaires($event)"
      ></app-create-survey>
      <ng-container *ngFor="let questionnaireEl of questionnaires">
        <app-displayed-survey
          *ngIf="!questionnaireEl.template"
          [questionnaire]="questionnaireEl"
          (questionnaireDeleted)="updatedQuestionnaires($event)"
          (deleteRequest)="deletePopUp($event)"
        ></app-displayed-survey>
      </ng-container>
    </main>
  </div>
</div>
