<div class="main-container first-color">
  <div class="split-background second-color"></div>
  <img src="../../../../assets/images/character2.svg" id="svg-drawing" />
  <div class="login-container">
    <img src="../../../../assets/images/avatar.svg" id="avatar" />
    <h1 class="primary-font" id="login-header">
      <strong>Welcome</strong>
    </h1>
    <input type="text" name="email" id="email" placeholder="Email" #email />
    <svg
      width="1.4em"
      height="1.6em"
      id="username-icon"
      viewBox="0 0 16 16"
      class="bi bi-person-fill"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
      />
    </svg>

    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      #password
    />
    <svg
      width="1.25em"
      height="1.25em"
      id="password-icon"
      viewBox="0 0 16 16"
      class="bi bi-lock-fill"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"
      />
      <path
        fill-rule="evenodd"
        d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"
      />
    </svg>
    <button (click)="onLogin(email.value, password.value)" id="login-button">
      Login
    </button>
    <p [routerLink]="['/register']">Don't have an account?</p>
  </div>
</div>
