<div class="main-container primary-font main-container-sizing">
  <div class="grid-container">
    <header>
      <h1>TEMPLATES</h1>
      <input type="text" placeholder="Search templates..." />
      <!-- <div class="input-group">
          <input placeholder="Search" />
          <span class="input-group-append">
            <div class="input-group-text bg-transparent">
              <i class="fa fa-search"></i>
            </div>
          </span>
        </div> -->
    </header>
    <main>
      <app-displayed-template></app-displayed-template>
    </main>
  </div>
</div>
